{% extends "blog/base.html" %}
{% block title %}
    {{ post.title }}
{% endblock title %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
    {{ post.body|linebreaks }}
    <p>
        <a href="{% url "blog:post_share" post.id %}">Share this post.</a>
    </p>
    <p>
        <a href="{% url "blog:post_comment" post.id %}">Add a Comment</a>
    </p>
    {% for comment in post.comments %}
    <div class="comment">
        
    </div>
    {% empty %}
    <p>There are no comments yet.</p>
    {% endfor %}

{% endblock content %}
